<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501404059090-dark3sncvi0vc3c0mgnjjpokh95nqjs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501404059090-dark3sncvi0vc3c0mgnjjpokh95nqjs8</string>
	<key>API_KEY</key>
	<string>AIzaSyDUDDlk2iA-fZDK12PV1wk4Css5HyUL7y4</string>
	<key>GCM_SENDER_ID</key>
	<string>501404059090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plux.healthcare</string>
	<key>PROJECT_ID</key>
	<string>plux-healthcare</string>
	<key>STORAGE_BUCKET</key>
	<string>plux-healthcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501404059090:ios:3453a2f7d890b3ad72340b</string>
	<key>DATABASE_URL</key>
	<string>https://plux-healthcare.firebaseio.com</string>
</dict>
</plist>